TIBCO Apps/SignUp Restfull Web Service/SignUpRESTfulWS/Schemas/SignUpRESTSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:tibex="http://www.tibco.com/bpel/2007/extensions" xmlns:tns="http://www.hcappcom/users/signup/1475677610251" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.hcappcom/users/signup/1475677610251">
  <xsd:element name="SignUpREST">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="email" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="password" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
