WSDL/HelloWorldService_gen1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns="http://www.example.org/wsdl/1474374392933" xmlns:ns0="http://www.example.org/schema/1474374392979" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HelloWorld" targetNamespace="http://www.example.org/wsdl/1474374392933">
  <wsdl:types>
    <xsd:schema xmlns:tns="http://www.example.org/schema/1474374392979" elementFormDefault="unqualified" targetNamespace="http://www.example.org/schema/1474374392979">
      <xsd:element name="sayHelloRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="sayHelloResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="sayHelloRequest">
    <wsdl:part element="ns0:sayHelloRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="sayHelloResponse">
    <wsdl:part element="ns0:sayHelloResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="HelloWorld">
    <wsdl:operation name="sayHello">
      <wsdl:input message="ns:sayHelloRequest" name="sayHelloInput"/>
      <wsdl:output message="ns:sayHelloResponse" name="sayHelloOutput"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SOAPServiceBinding" type="ns:HelloWorld">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sayHello">
      <soap:operation soapAction="sayHello" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HelloWorld">
    <wsdl:port binding="ns:SOAPServiceBinding" name="HelloWorldSOAP">
      <soap:address location="http://localhost:8080/SOAPServiceBinding/helloWorld/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
