TIBCO Apps/Add New Member RESTfulWS/AddNewMemberRESTfulWS/Schemas/AddMemberSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:tibex="http://www.tibco.com/bpel/2007/extensions"
	xmlns:tns="http://www.example.com/namespaces/tns/1476954659872"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
	targetNamespace="http://www.example.com/namespaces/tns/1476954659872">
	<xsd:element name="AddMember">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="1" minOccurs="1" name="email"
					type="xsd:string" />
				<xsd:element maxOccurs="1" minOccurs="1" name="user_id"
					type="xsd:int" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
